{% include "sidebar.njk" %}
</div><!-- #content -->
	<footer id="colophon" class="site-footer has-ui-font">
			<div class="footer-widgets">
                <section id="custom_html-2" class="widget_text widget widget__footer widget_custom_html">
                    <h4 class="widgettitle">License</h4>
                    <div class="textwidget custom-html-widget">
                        <p>
	                        Copyright © <span property="cc:attributionName">John Jackson</span>
                        </p>
                        <p>
                            {% include "svg/creative-commons.svg" %}
                            All content by John on this site is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
                        </p>
                    </div>
                </section>
                <section id="custom_html-8" class="widget_text widget widget__footer widget_custom_html">
                    <h4 class="widgettitle">Privacy</h4>
                    <div class="textwidget custom-html-widget">
                        <p>
	                        This website doesn't collect or store anything about you or any of its users. (Why would I do that?)
                        </p>
                    </div>
                </section>
			</div> <!-- .footer-widgets -->
	</footer><!-- #colophon -->
</div><!-- #page -->
<script>
	console.info("This site is open source! https://github.com/johnridesabike/johnridesabike.github.io");
</script>
</body>
<script type="text/javascript" src="/js/navigation.js"></script>
</html>