<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta name="robots" content="noindex" />
    <style>
        html {
            width: 100vw;
            height: 100vh;
            overflow: hidden;
            display: flex;
            flex-flow: column;
            justify-content: center;
            text-align: center;
            font-size: 64px;
            font-family: Baskerville, "Baskerville Old Face", Garamond, Palatino, "Palatino Linotype", Athelas, Georgia, Times, "Times New Roman", serif;
            letter-spacing: .05em;
        }

        a,
        a:visited {
            color: #03727c;
            text-decoration: none;
        }

        a:hover,
        a:active,
        a:focus {
            color: #05b7c7;
            text-decoration: underline;
        }
    </style>
  </head>
  <body>
    <main>
      {{{ content }}}
      <!-- {{{ metadata.url }}} -->
    </main>
  </body>
</html>