{% include "archive-header.njk" %}

<div id="primary" class="content-area">
    <main id="main" class="site-main">

{% for page in pages %}
    {% if "Updates" in page.data.tags %}
        {% include "partials/update.njk" %}
    {% else %}
        {% include "partials/excerpt.njk" %}
    {% endif %}
{% endfor %}

<nav class="navigation pagination" role="navigation">
    <h2 class="screen-reader-text">Posts navigation</h2>
    <div class="nav-links">
        {% if pagination.pageNumber !== 0 %}
        <a class="prev page-numbers" href="{{ pagination.previousPageHref }}">
            {% include "svg/chevron-left.svg" %}
            <span class="nav-prev-text">Newer posts</span>
        </a>
        <a class='page-numbers' href='{{ pagination.previousPageHref }}'>{{ pagination.pageNumber }}</a>
        {% endif %}

        {% if pagination.nextPageHref or pagination.pageNumber !== 0 %}
        <span aria-current='page' class='page-numbers current'>{{ pagination.pageNumber + 1 }}</span>
        {% endif %}

        {% if pagination.nextPageHref %}
        <a class='page-numbers' href='{{ pagination.nextPageHref }}'>{{ pagination.pageNumber + 2 }}</a>
        <a class="next page-numbers" href="{{ pagination.nextPageHref }}">
            <span class="nav-next-text">Older posts</span>
            {% include "svg/chevron-right.svg" %}
        </a>
        {% endif %}
    </div>
</nav>

    </main><!-- #main -->
</div><!-- #primary -->

{% include "footer.njk" %}