{% include "page-header.njk" %}
<div id="primary" class="content-area page">
    <main id="main" class="site-main">
        <article class="page">
            <div class="post-content">
                <div class="entry-content">
                    {{ content | safe }}
                </div><!-- .entry-content -->
            </div> <!-- .post-content -->
        </article><!-- #post -->
    </main><!-- #main -->
</div><!-- #primary -->
{% include "footer.njk" %}