---
pagination:
    data: collections
    size: 1
    alias: tag
    filter:
        - all
        - nav
        - post
        - posts
        - tagList
    addAllPagesToCollections: true
renderData:
    title: “Web development” archive
    classes: archive-view
---
{% set pages = collections["Web development"] %}
{% include "archive.njk" %}
