---
pagination:
    data: collections
    size: 1
    alias: tag
    filter:
        - all
        - nav
        - post
        - posts
        - tagList
    addAllPagesToCollections: true
renderData:
    title: “Software” archive
    classes: archive-view
---
{% set pages = collections.Software %}
{% include "archive.njk" %}
