<nav id="text-21" class="widget widget__breadcrumbs has-ui-font widget_text">
    <div class="textwidget">
        {% if metadata.homepage != page.url %}
            <a href="{{ metadata.home }}">Home</a>
            → 
            {# TODO: figure out how to make this system a little smarter and more robust #}
            {% if tags[0] and tags[0] !=  "nav" %}
                <a href="../">{{ tags[0] }}</a>
                →
            {% endif %}
            <span class="breadcrumb_last" aria-current="page">
                {{ renderData.title or title or metadata.title }}
            </span>
        {% else %}
        Home
        {% endif %}
    </div>
</nav>