{% macro postedBy(author) %}
<span class="author byline">
    {% include "svg/person.svg" %} {{ author }}
</span>
{% endmacro %}

{% macro postedOn(date) %}
<span class="posted-on entry-meta__item">
    <time class="entry-date published updated" datetime="{{date | htmlDateString}}">
        {% include "svg/calendar.svg" %} Posted on {{ date | readableDate("MM-DD-YYYY") }}
    </time>
</span>
{%endmacro%}

{% macro tags(tags) %}
<div class="tags-links entry-meta__item">
    <span class="screen-reader-text">Tagged</span>
    {% for tag in tags %}
        <span class="tag-title">{% include "svg/tag.svg" %} {{tag}}</span>
    {% endfor %}
</div><!-- .tags-links -->
{% endmacro %}