.smallscreen-padding {
    padding-right: 1rem;
    padding-left: 1rem;
}

@media screen {
    .print {
        display: none;
    }
}

/** Nav links under paginated posts. **/
.post-nav-links {
    clear: both;
    margin: 0 0 1.5em;
    padding-top: 0;
    border-style: none;
}

.post-nav-links a.post-page-numbers {
    text-decoration: none;
}

.page-content > *:not(.alignwide):not(.alignfull) {
    max-width: var(--size-content);
    margin-right: auto;
    margin-left: auto;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear::before,
.clear::after,
.entry-content::before,
.entry-content::after,
.comment-content::before,
.comment-content::after,
.site-header::before,
.site-header::after,
.site-content::before,
.site-content::after,
.site-footer::before,
.site-footer::after {
    display: table;
    table-layout: fixed;
    content: "";
}

.clear::after,
.entry-content::after,
.comment-content::after,
.site-header::after,
.site-content::after,
.site-footer::after {
    clear: both;
}