
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
/* stylelint-disable-next-line no-duplicate-selectors */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

* {
    border-color: #03727c;
}

/* stylelint-disable-next-line no-duplicate-selectors */
body {
    background: #fff;
    /* Fallback for when there is no custom background color defined. */
}

/* stylelint-disable-next-line no-duplicate-selectors */
hr {
    height: 2px;
    margin-bottom: 1.5em;
    border: 0;
    background-color: #03727c;
    clear: both;
}

/* Lists */
ul, ol {
    margin: 0 0 1.5em 0;
    padding-left: 1.5em;
}

ul {
    list-style: disc;
}

ul ul {
    list-style: circle;
}

ul ul ul {
    list-style: square;
}

ul ul ul ul {
    list-style: initial;
}

ol {
    list-style: decimal;
}

ol ol {
    list-style: upper-alpha;
}

ol ol ol {
    list-style: lower-roman;
}

ol ol ol ol {
    list-style: lower-alpha;
}

ol ol ol ol ol {
    list-style: initial;
}

/* stylelint-disable no-descending-specificity */
li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 0;
}

/* stylelint-enable no-descending-specificity */
dt {
    font-weight: 700;
}

dd {
    margin: 0 1.5em 1.5em;
}

/* stylelint-disable-next-line no-duplicate-selectors */
blockquote {
    margin-right: 0;
    margin-left: 0;
    padding: 0 1.5em;
    /* use padding, not margins to avoid conflict with post content margins */
    border-left-width: 2px;
    border-left-style: solid;
}

cite {
    opacity: 0.9;
    font-style: italic;
}

address {
    margin: 0 0 1.5em;
}

img,
svg {
    max-width: 100%;
    /* Adhere to container width. */
    height: auto;
    /* Make sure images are scaled correctly. */
}

figure {
    margin: 0 0 1em 0;
    /* Extra wide images within figure tags don't overflow the content area. */
}

/* Tables */
table {
    width: 100%;
    margin: 0 0 1.5em;
    border-collapse: collapse;
}

th, td {
    padding: 0 6px;
    border: 1px solid #000;
}

/*--------------------------------------------------------------
## Forms
--------------------------------------------------------------*/
/* stylelint-disable-next-line no-duplicate-selectors */
textarea {
    width: 100%;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    max-width: 100%;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: rgba(25, 25, 26, 0.8);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    color: #19191a;
}

select {
    border: 1px solid #ccc;
}

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
/* stylelint-disable-next-line no-duplicate-selectors */
a {
    color: #03727c;
    text-decoration: none;
}

a:visited {
    color: #03727c;
}

a:hover, a:focus, a:active {
    color: #05b7c7;
    text-decoration: underline;
}

a:focus {
    outline: thin dotted;
}

a:hover, a:active {
    outline: 0;
}

/* All of the buttons and button-like elements */
/* This can be used in the HTML templates or extended to produce more buttons */
.button-link__link {
    color: #fff;
    background-color: #03727c;
    display: inline-block;
    padding: 0.2em 0.75em;
    border: 1px solid #19191a;
    border-radius: 0.625em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    text-decoration: none;
    cursor: pointer;
    text-shadow: 0 0 2px black;
}

.button-link__link svg {
    filter: drop-shadow(0 0 1px black);
}

.button-link__link:hover, .button-link__link:focus, .button-link__link:active {
    color: #fff;
    background-color: #05b7c7;
    text-decoration: none;
}

.button-link__link:visited {
    color: #fff;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    color: #fff;
    background-color: #03727c;
    display: inline-block;
    padding: 0.2em 0.75em;
    border: 1px solid #19191a;
    border-radius: 0.625em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    text-decoration: none;
    cursor: pointer;
    text-shadow: 0 0 2px black;
}

button svg,
input[type="button"] svg,
input[type="reset"] svg,
input[type="submit"] svg {
    filter: drop-shadow(0 0 1px black);
}

button:hover, button:focus, button:active,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="button"]:active,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="reset"]:active,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active {
    color: #fff;
    background-color: #05b7c7;
    text-decoration: none;
}

form span.required {
    opacity: 0.8;
    font-size: 0.8em;
}
