/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

/*--------------------------------------------------------------
## Alignments and Images
--------------------------------------------------------------*/
.alignleft {
    float: left;
    margin-right: 1.5em;
}

.alignright {
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-right: auto !important;
    margin-left: auto !important;
}

/* .entry-content figure {
    display: table;
}

.entry-content figure > figcaption {
    display: table-caption;
    caption-side: bottom;
} */

.centered-image {
    max-width: 100vw;
    margin: 0 -1em;
    border: none;
}
/*--------------------------------------------------------------
## Archive View Featured Images
--------------------------------------------------------------*/
/* .excerpt-entry .featured-image {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
}

.excerpt-entry .featured-image__link {
    display: block;
    line-height: 0;
    /* fixes visual glitch with link overlay *//*
} */

/* .excerpt-entry .featured-image__link:hover::before,
.excerpt-entry .featured-image__link:active::before,
.excerpt-entry .featured-image__link:focus::before {
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.25;
    background-color: var(--color-link-hover);
    content: "";
} */

.excerpt-entry .wp-post-image {
    width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
    max-width: 100%;
    margin-bottom: 1.5em;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-right: auto !important;
    margin-left: auto !important;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
    text-align: center;
}

/*
** Media Queries
**/
@media screen and (max-width: 600px) {
    /* On small screens, display left and right alignments as if they were centered */
    .alignleft,
    .alignright {
        float: none !important;
        clear: both !important;
        display: block;
        margin-right: auto !important;
        margin-left: auto !important;
    }
}

@media screen and (max-width: 1200px) {
    .full-bleed {
        /* full-bleed on small screens */
        margin-right: -1rem;
        margin-left: -1rem;
    }
}

@media screen and (min-width: 600px) {
    /* Alignments */
    .centered-image {
        margin: 0 -2em;
    }
    .featured-image__archive.full-bleed {
        /* cancel full-bleed on larger screens */
        margin-right: 0;
        margin-left: 0;
    }
}
