.post-nav-links {
    padding-top: 1em;
    /* border-top-width: 4px;
    border-top-style: solid; */
    font-family: var(--font-UI);
    font-size: var(--font-size-lg);
    text-align: center;
    clear: both;
    margin: 0 0 1.5em;
}

.next {
    display: block;
    text-align: right;
    margin-top: 0.5em;
}

.prev {
    display: block;
    text-align: left;
    margin-bottom: 0.5em;
}