html {
    font-size: var(--font-base-size);
    line-height: 1.50967;
}

@media screen and (max-width: 600px) {
    html {
        font-size: var(--font-base-size-mobile);
        line-height: 1.58566;
    }
}

body {
    color: var(--color-text-main);
}

body,
textarea {
    font-family: var(--font-reading);
}

input {
    font-family: var(--font-UI);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 400;
    hyphens: none;
}

/* Only use h1 for title */
/* stylelint-disable-next-line no-duplicate-selectors */
h1 {
    clear: both;
    font-size: var(--font-size-xl);
    line-height: 1.4;
}

/* Use h2, h3, h4 in document bodies */
h2 {
    clear: both;
    padding-top: 0.5em;
    border-top-width: 2px;
    border-top-style: solid;
    font-size: var(--font-size-lg);
    line-height: 1.4;
}

h3 {
    clear: both;
    font-size: var(--font-size-md);
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: var(--letter-spacing-allcaps);
    text-transform: uppercase;
}

h4 {
    font-size: var(--font-size-sm);
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: var(--letter-spacing-allcaps);
    text-transform: uppercase;
}

/* Please don't use h5 or h6... why do we need them, anyway? */
h5 {
    font-size: var(--font-size-sm);
    font-weight: 700;
    line-height: 1.56297;
}

h6 {
    font-size: var(--font-size-xs);
    font-weight: 700;
    line-height: 1.62254;
}

p {
    margin-bottom: 1em;
}

figcaption {
    margin-top: 0;
    margin-bottom: 0.5em;
    opacity: 0.8;
    font-size: var(--font-size-sm);
    text-align: center;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    font-size: var(--font-size-sm);
}

pre {
    overflow: auto;
    max-width: 100%;
    margin-bottom: 1.6em;
    padding: 1.6em;
    background: #eee;
    font-family: var(--font-code);
    line-height: 1.6;
}

code,
kbd,
tt,
var {
    font-family: var(--font-code);
    font-size: 20px;
    font-size: var(--font-size-xs);
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}

.has-xsmall-font-size {
    font-size: var(--font-size-xs);
}

.has-small-font-size {
    font-size: var(--font-size-sm);
}

.has-normal-font-size,
.has-regular-font-size,
.has-medium-font-size {
    font-size: var(--font-size-md);
}

.has-large-font-size {
    font-size: var(--font-size-lg);
}

.has-xlarge-font-size,
.has-huge-font-size,
.has-larger-font-size {
    font-size: var(--font-size-xl);
}

.has-xxlarge-font-size {
    font-size: var(--font-size-xxl);
}

.has-normal-color {
    color: var(--color-text-main);
}

.has-primary-color,
.has-link-color {
    color: var(--color-link);
}

.has-primary-light-color {
    color: var(--color-link-hover);
}

.has-primary-background-color {
    background-color: var(--color-link);
}

.has-primary-light-background-color {
    background-color: var(--color-link-hover);
}

.has-caption-color {
    color: var(--color-caption);
}

.has-ui-font {
    font-family: var(--font-UI);
}

.has-body-font {
    font-family: var(--font-reading);
}

.has-title-font {
    font-family: var(--font-title);
}

.footer-widgets {
    opacity: 0.8;
}

.has-no-text-transform {
    text-transform: none;
    letter-spacing: normal;
}

.align-center {
    text-align: center;
}
