html {
    font-size: 20px;
    line-height: 1.50967;
}

@media screen and (max-width: 600px) {
    html {
        font-size: 16px;
        line-height: 1.58566;
    }
}

/* stylelint-disable-next-line no-duplicate-selectors */
body {
    color: #19191a;
}

body,
textarea {
    font-family: Palatino, "Palatino Linotype", Athelas, Georgia, Times, "Times New Roman", serif;
}

input {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 400;
    hyphens: none;
}

/* Only use h1 for title */
/* stylelint-disable-next-line no-duplicate-selectors */
h1 {
    clear: both;
    font-size: 1.5em;
    line-height: 1.3982;
}

/* Use h2, h3, h4 in document bodies */
h2 {
    clear: both;
    padding-top: 0.5em;
    border-top-width: 4px;
    border-top-style: solid;
    font-size: 1.25em;
    line-height: 1.43744;
}

h3 {
    clear: both;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.50967;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

h4 {
    font-size: 0.88889em;
    font-weight: 700;
    line-height: 1.56297;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* Please don't use h5 or h6... why do we need them, anyway? */
h5 {
    font-size: 0.88889em;
    font-weight: 700;
    line-height: 1.56297;
}

h6 {
    font-size: 0.8em;
    font-weight: 700;
    line-height: 1.62254;
}

p {
    margin-bottom: 1em;
}

figcaption {
    margin-top: 0;
    margin-bottom: 0.5em;
    opacity: 0.8;
    font-size: 0.88889em;
    text-align: center;
}

dfn, cite, em, i {
    font-style: italic;
}

blockquote {
    font-size: 0.88889em;
}

/* stylelint-disable-next-line no-duplicate-selectors */
pre {
    overflow: auto;
    max-width: 100%;
    margin-bottom: 1.6em;
    padding: 1.6em;
    background: #eee;
    font-family: "Fira Code", "Courier 10 Pitch", Courier, monospace;
    line-height: 1.6;
}

code, kbd, tt, var {
    font-family: "Fira Code", Menlo, Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 20px;
    font-size: 0.8em;
}

abbr, acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark, ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}

.has-xsmall-font-size {
    font-size: 0.8em;
}

.has-small-font-size {
    font-size: 0.88889em;
}

.has-normal-font-size,
.has-regular-font-size,
.has-medium-font-size {
    font-size: 1em;
}

.has-large-font-size {
    font-size: 1.25em;
}

.has-xlarge-font-size,
.has-huge-font-size,
.has-larger-font-size {
    font-size: 1.5em;
}

.has-xxlarge-font-size {
    font-size: 1.75em;
}

.has-normal-color {
    color: #19191a;
}

.has-primary-color,
.has-link-color {
    color: #03727c;
}

.has-primary-light-color {
    color: #05b7c7;
}

.has-complementary-color {
    color: #7c0372;
}

.has-complementary-light-color {
    color: #c705b7;
}

.has-dark-gray-color {
    color: #111;
}

.has-light-gray-color {
    color: #767676;
}

.has-white-color {
    color: #fff;
}

.has-primary-background-color {
    background-color: #03727c;
}

.has-primary-light-background-color {
    background-color: #05b7c7;
}

.has-complementary-background-color {
    background-color: #7c0372;
}

.has-complementary-light-background-color {
    background-color: #c705b7;
}

.has-dark-gray-background-color {
    background-color: #111;
}

.has-light-gray-background-color {
    background-color: #767676;
}

.has-white-background-color {
    background-color: #fff;
}

.has-ui-font {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.has-body-font {
    font-family: Palatino, "Palatino Linotype", Athelas, Georgia, Times, "Times New Roman", serif;
}

.footer-widgets {
    opacity: 0.8;
}