:root {
    /**
     * Colors
     */
    --color-text-main: #19191a;
    --color-bg-body: #fff;
    --color-primary-hue: 185;
    --color-saturation: 95%;
    --color-lightness: 25%;
    --color-lightness-hover: 40%;
    --color-link:
        hsl(
            var(--color-primary-hue),
            var(--color-saturation),
            var(--color-lightness)
        );
    --color-link-hover:
        hsl(
            var(--color-primary-hue),
            var(--color-saturation),
            var(--color-lightness-hover)
        );
    --color-caption: #555d66;

    /**
     * Fonts
     */
    --font-reading:
        "Source Sans Pro",
        "Helvetica Neue",
        sans-serif;
    --font-UI:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        "Helvetica Neue",
        sans-serif;
    --font-title:
        "Libre Baskerville",
        Baskerville,
        "Baskerville Old Face",
        Garamond,
        Palatino,
        "Palatino Linotype",
        Athelas,
        Georgia,
        Times,
        "Times New Roman",
        serif;
    --font-pre: "Courier 10 Pitch", Courier, monospace;
    --font-code:
        "Source Code Pro",
        Menlo,
        Monaco,
        Consolas,
        "Andale Mono",
        "DejaVu Sans Mono",
        var(--font-pre);
    --font-base-size: 18px;
    --font-size-base-mobile: 16px;
    --font-size-xs: calc(1em / 1.25); /* 16 */
    --font-size-sm: calc(1em / 1.125); /* 17.78 */
    --font-size-md: calc(1em * 1); /* 20 */
    --font-size-lg: calc(1em * 1.25); /* 25 */
    --font-size-xl: calc(1em * 1.5); /* 30 */
    --font-size-xxl: calc(1em * 1.75); /* 35 */
    --letter-spacing-allcaps: 0.06em;

    /**
     * Layout
     */
    --size-site-width: 1200px;
    --size-content: 640px;
    --border-radius-button-square: 0.15em;
    --column-margin: 3.8%;
}

@media (prefers-color-scheme: dark) {
    :root {
        /**
        * Colors
        */
        --color-text-main: #eee;
        --color-bg-body: #19191a;
        --color-primary-hue: 185;
        --color-saturation: 95%;
        --color-lightness: 40%;
        --color-lightness-hover: 25%;
        --color-link:
            hsl(
                var(--color-primary-hue),
                var(--color-saturation),
                var(--color-lightness)
            );
        --color-link-hover:
            hsl(
                var(--color-primary-hue),
                var(--color-saturation),
                var(--color-lightness-hover)
            );
        --color-caption: #555d66;
    }
}
