.widget {
    width: 100%;
    margin: 0;
}

.widget ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.widget ul li {
    display: block;
    margin-bottom: 0.5em;
    padding: 0;
}

.widget ul li a {
    display: block;
    padding: 0.5em 0;
    border-bottom: 1px dashed currentColor;
    text-decoration: none;
}

.widget ul li a:hover,
.widget ul li a:active,
.widget ul li a:focus {
    border-bottom: 1px dashed currentColor;
    text-decoration: none;
}

.widgetArea {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin-top: 1em;
}


@media screen and (min-width: 600px) {
    .widgetArea {
        display: flex;
        justify-content: space-between;
    }
    .widget {
        width: calc(50% - var(--column-margin));
    }
}