/**
** button
**/
.wp-block-button__link, .wp-block-file .wp-block-file__button {
    color: var(--color-bg-body);
    background-color: var(--color-link);
    display: inline-block;
    padding: 0.2em 0.75em;
    border: 1px solid var(--color-text-main);
    border-radius: 0.625em;
    font-family: var(--font-UI);
    text-decoration: none;
    cursor: pointer;
    text-shadow: 0 0 2px black;
}

.wp-block-button__link svg, .wp-block-file .wp-block-file__button svg {
    filter: drop-shadow(0 0 1px black);
}

.wp-block-button__link:hover,
.wp-block-file .wp-block-file__button:hover,
.wp-block-button__link:focus,
.wp-block-file .wp-block-file__button:focus,
.wp-block-button__link:active,
.wp-block-file .wp-block-file__button:active {
    color: var(--color-bg-body);
    background-color: var(--color-link-hover);
    text-decoration: none;
}

.wp-block-button__link:visited,
.wp-block-file .wp-block-file__button:visited {
    color: var(--color-bg-body);
}

.is-style-squared .wp-block-button__link,
.is-style-squared .wp-block-file .wp-block-file__button,
.wp-block-file .is-style-squared .wp-block-file__button {
    border: none;
    border-radius: 0.15em;
}


/**
** columns
**/
.wp-block-column {
    margin-bottom: 0;
}

/**
** file
**/
.wp-block-file .wp-block-file__button {
    font-size: var(--font-size-xs);
}

.wp-block-file .wp-block-file__button:hover,
.wp-block-file .wp-block-file__button:visited,
.wp-block-file .wp-block-file__button:focus,
.wp-block-file .wp-block-file__button:active {
    opacity: 1;
}

/**
** image
**/
.wp-block-image figcaption {
    color: var(--color-text-main);
    margin-top: 0;
    margin-bottom: 0.5em;
    opacity: 0.8;
    font-size: var(--font-size-sm);
    text-align: center;
}
/**
** Alignments
*/
.alignwide {
    max-width: 100vw;
}

.alignwide:not(.wp-block-columns):not(p) {
    /* displays as alignfull on small screens */
    /* full-bleed on small screens */
    margin-right: -1rem;
    margin-left: -1rem;
}

.alignfull {
    position: relative !important;
    right: 50% !important;
    left: 50% !important;
    width: 100vw !important;
    max-width: 100vw !important;
    margin-right: -50vw !important;
    margin-left: -50vw !important;
}

/**
** Media queries
*/
@media (min-width: 600px) and (max-width: 900px) {
    .wp-block-columns {
        flex-wrap: nowrap;
    }
}

@media screen and (min-width: 1200px) {
    .alignwide {
        /* cancel full-bleed on larger screens */
        margin-right: 0;
        margin-left: 0;
    }
}

/**
 * stuff added from gutenberg for the 11ty port
 */
.wp-block-columns {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 782px) {
    .wp-block-columns {
        flex-wrap: nowrap;
    }
}

.wp-block-column {
    flex: 1;
    margin-bottom: 1em;
    flex-basis: 100%;
    min-width: 0;
    word-break: break-word;
    overflow-wrap: break-word;
}

@media (min-width: 600px) {
    .wp-block-column {
        flex-basis: 50%;
        flex-grow: 0;
    }
}

@media (min-width: 600px) {
    .wp-block-column:nth-child(odd) {
        margin-right: 32px;
    }
    .wp-block-column:not(:first-child), .wp-block-column:nth-child(2n) {
        margin-left: 32px;
    }
    .wp-block-column:not(:last-child) {
        margin-right: 32px;
    }
}

.wp-block-media-text {
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    grid-template-areas: "media-text-media media-text-content";
    grid-template-columns: 50% auto;
}

.wp-block-media-text.has-media-on-the-right {
    grid-template-areas: "media-text-content media-text-media";
    grid-template-columns: auto 50%;
}

.wp-block-media-text .wp-block-media-text__media {
    grid-area: media-text-media;
    margin: 0;
}

.wp-block-media-text .wp-block-media-text__content {
    word-break: break-word;
    grid-area: media-text-content;
    padding: 0 8%;
}

.wp-block-media-text > figure > img,
.wp-block-media-text > figure > video {
    max-width: unset;
    width: 100%;
    vertical-align: middle;
}

@media (max-width: 600px) {
    .wp-block-media-text.is-stacked-on-mobile {
        grid-template-columns: 100% !important;
        grid-template-areas: "media-text-media" "media-text-content";
    }
    .wp-block-media-text.is-stacked-on-mobile.has-media-on-the-right {
        grid-template-areas: "media-text-content" "media-text-media";
    }
}

.wp-block-button.aligncenter {
    text-align: center;
}

.wp-block-button.alignright {
    text-align: right;
}
