.site {
    /*
    fixes bug where full-bleed content creates horizontal scrollbar.
    May have undesireable side effects...?
    */
    overflow-x: hidden;
}

.content {
    padding-bottom: 1em; /* give some space for the footer */
    background-color: var(--color-bg-body);
}

@media screen and (min-width: 1200px) {
    .content {
        max-width: var(--size-site-width);
        margin-right: auto;
        margin-left: auto;
    }
}
