/*--------------------------------------------------------------
### Menus
--------------------------------------------------------------*/
@import "menus";

/*--------------------------------------------------------------
### Content navigation
--------------------------------------------------------------*/

/**
* 1. Comment navigation
* 2. ???
* 3. The previous and next posts in entry-footer
*/
.comment-navigation, /* 1 */
.posts-navigation, /* 2 */
.paging-navigation, /* 2 */
.post-navigation /* 3 */ {
	text-align: left;
}

/**
* 1. Paginated single entries
* 2. Archive view page links
* 3. Menu item
*/

/* 1 */
.post-nav-links,
/* 2 */
.pagination {
	margin-top: 2em;
	padding-top: 1em;
	border-top-width: 4px;
	border-top-style: solid;
	font-family: $font-UI;
	font-size: $font-size-lg;
	text-align: center;
}

/* 2 */ 
.page-numbers {
	display: inline-block;
}

/* 1 */
.post-page-numbers,
/* 2 */
.page-numbers {

	&:not(.prev):not(.next) {
		margin: 0 0.5em;
	}

	&.current {
		padding-bottom: 0.25em;
		opacity: $opacity-aside;
	}
}

/* 1 */
.post-page-numbers.current,
/* 2 */
.page-numbers.current,
 /* 3 */
.current_page_item > a,
.current-menu-item > a,
.current_page_ancestor > a,
.current-menu-ancestor > a {
	border-color: $color-link-hover;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

.next {
	display: block;
	margin-top: 0.5em;
}

.prev {
	display: block;
	margin-bottom: 0.5em;
}

.nav-links {
	margin: 0 auto;
	padding: 0 0.4em; /* ? */
}

.nav-previous {
	margin-bottom: 0.5em;
}

/* The previous and next posts in entry-footer */
.attachment .post-navigation {

	.meta-nav {
		color: $color-text-main;
	}

	.post-title {
		text-decoration: underline;
	}
}

.single-post .post-navigation {
	margin-top: 1em;
	
	.meta-nav {
		color: $color-text-main;
	}

	.meta-nav,
	.post-title {
		display: block;
	}

	.nav-next {
		text-align: right;
	}

	.nav-previous .post-title {
		padding-left: 24px;
	}

	.nav-next .post-title {
		padding-right: 24px;
	}
}

/*
 * Navigation Media Queries
 */

@media screen and (min-width: $breakpoint-1) {

	.comment-navigation,
	.posts-navigation,
	.single-post .post-navigation {

		.nav-previous {
			padding-bottom: 0;
		}

		.nav-previous,
		.nav-next {
			display: flex;
			width: 45%;
			align-items: stretch;
		}



		.nav-next:only-child {
			width: 100%;
		}
	}

	.nav-links {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		padding: 0;
	}

	.pagination {

		.nav-links {
			justify-content: center;
		}

		.page-numbers:not(.next):not(.prev) {
			text-align: center;
		}

		.next {
			text-align: right;
		}

		.next,
		.prev {
			margin: 0 1em;
		}
	}
}

@media screen and (min-width: $breakpoint-2) {

	.post-navigation .post-title {
		font-size: $font-size-lg;
	}
}
