/*--------------------------------------------------------------
## Jetpack
--------------------------------------------------------------*/

.entry-footer { // Greater specificity = override Jetpack default CSS
	div.sharedaddy h3.sd-title::before,
	#jp-relatedposts h3.jp-relatedposts-headline em::before {
		content: none;
	}
	
	div.sharedaddy h3.sd-title,
	#jp-relatedposts h3.jp-relatedposts-headline,
	#jp-relatedposts .jp-relatedposts-items-visual h4.jp-relatedposts-post-title {
		/** Copied from h5 */
		font-size: $font-size-sm;
		font-weight: 700;
		line-height: calculate-line-height( $font-size-sm, $size-content );
	}
	
	#jp-relatedposts h3.jp-relatedposts-headline {
		display: block;
		float: none;
		margin: 0;
		text-align: center;
	}
	
	#jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-context, 
	#jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-date,
	#jp-relatedposts .jp-relatedposts-items-visual .jp-relatedposts-post {
		opacity: 1;
	}
	
	#jp-relatedposts .jp-relatedposts-items-visual .jp-relatedposts-post-nothumbs p.jp-relatedposts-post-excerpt {
		margin-bottom: 0.5em;
	}
	
	// fixes contrast for sharing buttons 
	#sharing_email .sharing_send,
	.sd-content ul li .option a.share-ustom,
	.sd-content ul li a.sd-button,
	.sd-content ul li.advanced a.share-more,
	.sd-social-icon .sd-content ul li a.sd-button, 
	.sd-social-icon-text .sd-content ul li a.sd-button,
	.sd-social-official .sd-content > ul > li .digg_button > a,
	.sd-content ul li.preview-item div.option.option-smart-off a,
	.sd-social-official .sd-content > ul > li > a.sd-button,
	.sd-social-text .sd-content ul li a.sd-button {
		color: $color-text-main !important;
	}
	
	.sd-content ul li {
		text-align: left;
	}

	div.jetpack-likes-widget-wrapper {
		width: initial;
	}

	.sharedaddy {
		max-width: 100% !important;
		font-family: $font-UI;

		.sd-title {
			font-family: $font-UI !important;
		}
	}
}

.site { // Greater specificity = override Jetpack default CSS
	.contact-form {
		font-family: $font-UI;
	
		label {
			font-weight: 400;
	
			span {
				/** Copied from _elements.scss **/
				opacity: $opacity-aside;
				color: $color-text-main;
				font-size: $font-size-xs;
			}
		}
	}
}

/** Jetpack Infinite Scroll **/

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

.infinite-scroll .pagination {
	display: none;
}

#infinite-handle#infinite-handle {
	text-align: center;

	span {
		background: transparent;
		font-size: 1.3em;

		button {

			@include button;
			
			// &:active,
			// &:focus,
			// &:hover {
			// 	color: $color-button-text;
			// 	background-color: $color-link;
			// }
		}
	}
}

.infinite-loader {
	margin: 1em 0;

	.spinner {
		margin: auto;
	}
}

/*--------------------------------------------------------------
## Akismet
--------------------------------------------------------------*/
.akismet_comment_form_privacy_notice {
	font-family: $font-UI;
	font-size: $font-size-xs;
}

/*
 * Plugin media queries
*/
@media screen and (min-width: $breakpoint-1) {

	.entry-footer {

		.jp-relatedposts {
			flex: 0 0 100%;
			margin-right: 0; // cancel default margin
		}

		#jp-relatedposts {
			margin: auto;
		}
	}
}
