.section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.sectionHeader,
.divider {
    flex-basis: 100%;
    flex-shrink: 0;
}

.divider {
    text-align: center;
}

.excerpt {
    flex-basis: 47.5%;
}