@media screen and (min-width: 600px) {
    .excerpt {
        flex-basis: 47.5%;
    }

    .content {
        display: flex;
    }
}

.excerpt.hasThumbnail {
    flex-basis: 100%;
}

.text {
    flex-grow: 0;
    flex-shrink: 1;
    margin-top: 0.5em;
}

.title {
    text-transform: none;
    margin: 0;
}

.thumbnail {
    flex-grow: 1;
    flex-shrink: 0;
    margin-right: 8px;
    align-self: center;
    margin-bottom: 0;
}

@media screen and (max-width: 600px) {
    .thumbnail {
        width: calc(100% + 2rem);
    }

    .thumbnail a {
        display: block;
        width: 100%;
    }

    .thumbnail img {
        width: 100%;
    }
}
