.headerWrapper {
    background-color: var(--color-bg-body);
}

.headerWrapper a {
    text-decoration: none;
}

.globalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
}

.branding {
    flex: 1 1 0;
    margin-bottom: 0.5em;
}

.title {
    display: inline-block;
    margin: 0;
    font-family: var(--font-site-title);
    font-size: var(--font-size-xxl);
    line-height: 1.36683;
}

.linkHome,
.linkHome:visited {
    color: var(--color-text-main);
}

.description {
    margin: 0;
    opacity: 0.8;
    font-size: var(--font-size-sm);
    font-style: italic;
}

@media screen and (min-width: 600px) {
    .branding {
        text-align: left;
    }
    .globalHeader {
        margin: 1em 0 0 0;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: space-between;
    }
    .title {
        margin: 0;
        font-size: var(--font-size-xxl);
    }
    .headerWrapper {
        text-align: left;
    }
}

@media screen and (min-width: 1200px) {
    .headerWrapper {
        max-width: var(--size-site-width);
        margin-right: auto;
        margin-left: auto;
    }
}

/*
.widget__breadcrumbs {
    max-width: 20rem;
    margin-bottom: 0.5em;
    opacity: 0.8;
    font-size: var(--font-size-sm);
}

.widget__breadcrumbs > div {
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    padding: 0.25em;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    white-space: nowrap;
    text-overflow: ellipsis;
}
*/