.widget {
	width: 100%;
	margin: 0;

	ul {

		@include widget-ul;
	}

	select {
		width: 100%;
		height: 2.5em;
		padding: 10px;
		border: 1px solid #ccc;
	}
}

.widgettitle {
	/* Change the default h* margin */
	margin: 0 0 0.5em;
}

// /* Text widget. */
// .widget__main .textwidget {
// 	font-family: $font-reading;
// }

/* Search widget. */
.widget_search {

	.search-submit {
		display: none;
	}

	input[type="search"] {
		box-sizing: border-box;
		width: 100%;
		padding: 0.5em 1em;
		border: 1px solid $color-border;
		border-radius: 0;
	}
}

// .widget_pages,
// .widget_nav_menu,
// .widget_categories,
// .widget_recent_entries {
// }

/* RSS widget */

.rssSummary {
	opacity: $opacity-aside;
	font-size: $font-size-xs;
}

/* Calendar widget */
.widget_calendar {
	max-width: 250px;

	caption {
		padding: 0.5em 0;
		text-align: left;
	}


	th {
		border: none;
		text-align: center;
	}

	td {
		padding: 0.2em;
		border: 1px solid #ccc;
		background: #fff;
		text-align: center;
	}

	.pad {
		background: #eaeaea;
	}

	a {
		font-weight: 700;
		text-decoration: none;
	}
}

/* Tags */
.tagcloud {
	text-align: center;
}

.tag-title,
a.tag-cloud-link,
a[rel="tag"] {
	display: inline-block;
	margin: 0.1em 0;
	padding: 0 0.25em;
	border-radius: 1em 0.3em 0.3em 1em;
	background-color: rgba(0, 0, 0, 0.1);
	font-family: $font-UI;

	.svg-icon {
		opacity: 0.8;
	}
}

a.tag-cloud-link {
	padding-left: 0.5em;
}

a[rel="tag"],
a.tag-cloud-link {
	color: $color-text-main;

	&:visited {
		color: $color-text-main;
	}
	
	&:hover,
	&:focus,
	&:active {
		color: $color-link;
		text-decoration: none;
	}
}

/* Recent comments */
/* Chaining classes to override specificity */
.widget_recent_comments.widget_recent_comments {

	a {
		border: none;

		&:hover,
		&:active,
		&:focus {
			border: none;
			text-decoration: underline;
		}
	}
}

/** Breadcrumbs **/
.widget__breadcrumbs {
	max-width: 20rem;
	margin-bottom: 0.5em;
	opacity: $opacity-aside;
	font-size: $font-size-sm;

	> div { // specifies Yoast breadcrumb markup
		display: inline-block;
		overflow: hidden;
		max-width: 100%;
		padding: 0.25em;
		border-bottom-width: 2px;
		border-bottom-style: solid;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

/** Widget Area **/

/* .widget-area is the "main" widget area. It displays at the end of the content, or as a sidebar for archive pages */
.widget-area {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	margin-top: 1em;
}

/* Page widgets */
.page,
.single-attachment {

	.widget-area {
		margin-top: 2em;
	}
}

/** Footer Widgets **/

.footer-widgets {

	@include max-site-width;

	.widget {
		margin: 0 0 1em;
		padding: 0 0 1em;

		.original-title {
			color: rgba(255, 255, 255, 0.5);
		}
	}

	.widget_calendar td,
	.footer-widgets .widget_calendar a {
		color: #000;
	}
}

/** Archive View Widgets **/

/* Don't target widgets in the header or footer */
.archive-view .site-content .widget {
	margin-bottom: 1em;
}

.archive-widget-area__bottom {
	margin-top: 2em;
}

.widget__archive > ul {
	display: flex;
	list-style: none;
	flex-flow: row wrap;

	> .cat-item {
		width: 100%;
	}
}

/** Widget Media Queries **/

@media screen and (min-width: $breakpoint-1) {

	.widget__main,
	.widget__footer {
		/* Show 3 columns of widgets
		** With an even number of widgets, show the first one at full width; */
		@include column-width(3);
		margin-right: $columns-margin;

		&:nth-child(3n+3) {
			margin-right: 0;
		}
		// &:nth-last-child(even):first-of-type,
		// &:nth-last-child(even):first-of-type ~ .widget {
		// 	@include column-width(2);
		// 	margin-right: $columns-margin;
		// 	&:nth-child(2n+2) {
		// 		margin-right: 0;
		// 	}
		// }

		&:nth-last-child(even):first-of-type {
			width: 100%;
			margin-right: 0;
		}

		&:nth-last-child(even):first-of-type ~ .widget:nth-child(3n+3) {
			margin-right: $columns-margin;
		}

		&:nth-last-child(even):first-of-type ~ .widget:nth-child(3n+4) {
			margin-right: 0;
		}
	}

	.archive-widget-area {

		ul:not(.children) > .cat-item { // category widget

			@include column-width(3);
			margin-right: $columns-margin;

			&:nth-child(3n+3) {
				margin-right: 0;
			}
		}

		&__bottom {
			margin-top: 4em;
			margin-bottom: 4em;
		}
	}

	.footer-widgets {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

@media screen and (min-width: $breakpoint-2) {

	.widget-area {
		margin-top: 0;
	}

	.single-post .widget-area {
		margin-top: 4em;
	}

	.archive-view {

		.site-content .widget {
			margin-bottom: 4em;
		}

		.widget-area {
			display: block;
			margin-left: $columns-margin;

			@include column-width(3);

			.alignleft,
			.alignright {
				/* Don't align stuff on this small size, */
				float: none;
				
				@include center-block;
			}
		}

		.widget__main {
			width: 100%; // cancel the column width
			margin: 0 0 4em;
		}
	}
}
