@mixin figcaption {
	margin-top: 0;
	margin-bottom: 0.5em;
	opacity: $opacity-aside;
	font-size: $font-size-sm;
	text-align: center;
}

@mixin figcaption-overlay {
	margin-bottom: 0; // cancel default style
	padding: 0.2em 0.5em;
	opacity: 1;
	color: $color-bg-body;
	background: linear-gradient( transparent 0, rgba(0,0,0,0.5) 40%, rgba(0,0,0,0.8) 100%);
	text-shadow: 0 0 6px $color-text-main;
	font-family: $font-UI;
	font-size: $font-size-xs;
}

@mixin list-margins {
	margin: 0 0 1.5em 0;
	padding-left: 1.5em;
}

@mixin nested-list-margins {
	margin-bottom: 0;
	margin-left: 0;

}

@mixin unordered-list-styles {
	list-style: disc;

	ul {
		list-style: circle;

		ul {
			list-style: square;

			ul {
				list-style: initial;
			}
		}
	}
}

@mixin ordered-list-styles {
	list-style: decimal;

	ol {
		list-style: upper-alpha;

		ol {
			list-style: lower-roman;

			ol {
				list-style: lower-alpha;

				ol {
					list-style: initial;
				}
			}
		}
	}
}

@mixin hr {
	height: 2px;
	margin-bottom: 1.5em;
	border: 0;
    background-color: $color-link;
    clear: both;
}

@mixin blockquote {
	margin-right: 0;
	margin-left: 0;
	padding: 0 1.5em; /* use padding, not margins to avoid conflict with post content margins */
	border-left-width: 2px;
	border-left-style: solid;
}

@mixin cite {
	opacity: 0.9;
	font-style: italic;
}

@mixin button-text-shadow {
	text-shadow: 0 0 2px rgba(0,0,0,1);

	svg {
		filter: drop-shadow(0 0 1px rgba(0, 0, 0, 1));
	}
}

@mixin button {
	display: inline-block;
	padding: 0.2em 0.75em;
	border: 1px solid $color-text-main;
	border-radius: $border-radius-button;
	font-family: $font-UI;
	text-decoration: none;
	cursor: pointer;

	@include button-text-shadow;

	&:hover,
	&:focus,
	&:active {
		color: $color-button-text;
		background-color: $color-link-hover;
		text-decoration: none;
	}
}

// @mixin button-color {
// 	color: $color-bg-body;
// }

// @mixin button-background {
// 	background-color: $color-link;
// }

// @mixin button-hover {
// 	background-color: $color-link-hover;
// 	text-decoration: none;
// }
