/**
** Archives
**/
%widget-ul {

	@include widget-ul;
}

.wp-block-archives-list {
	
	@extend %widget-ul;
}

/**
** button
**/

.wp-block-button__link {
	color: $color-button-text;
	background-color: $color-link;

	@include button;

	&:visited {
		color: $color-button-text;
	}
}

.is-style-squared .wp-block-button__link {
	border: none;
	border-radius: $border-radius-button-square;
}

.is-style-outline {
	color: $color-link;

	.wp-block-button__link {
		border: 2px solid;
		color: currentColor;
		background-color: transparent;
		text-shadow: none;

		&:hover,
		&:focus,
		&:active {
			color: $color-link-hover;
			background-color: transparent;
		}
	}
}
/**
** calendar
**/

/**
** categories
*/
.wp-block-categories-list,
.wp-block-categories__list { // editor style

	@extend %widget-ul;
}

/**
** columns
**/
.wp-block-column {
	margin-bottom: 0;
}

/**
** cover
**/
.wp-block-cover .wp-block-cover-text {
	color: $color-bg-body;
	font-size: $font-size-xxl;
}

/**
** file
**/
.wp-block-file {

	.wp-block-file__button {
		font-size: $font-size-xs;
		
		@extend .wp-block-button__link;
		
		// These are just to cancel the built in style:
		&:hover,
		&:visited,
		&:focus,
		&:active {
			opacity: 1;
		}
	}
}

/**
** gallery
**/
.wp-block-gallery {

	.blocks-gallery-item {

		figcaption {

			@include figcaption-overlay;
		}
	}
}

/**
** image
**/
.wp-block-image {

	figcaption {
		color: $color-text-main; // cancel built-in color

		@include figcaption;
	}
}

/**
** latest-comments
**/
.wp-block-latest-comments__comment {
	font-size: $font-size-md;
}

.wp-block-latest-comments__comment-meta {
	font-family: $font-UI;
	font-size: $font-size-xs;

	a {
		text-decoration: none;
	}
}

.wp-block-latest-comments__comment-excerpt p {
	font-size: $font-size-sm;
}

/**
** latest-posts
**/

.wp-block-latest-posts {

	@extend %widget-ul;
}

.wp-block-latest-posts__post-date {
	font-family: $font-UI;
}

/**
** pullquote
**/
.wp-block-pullquote {
	padding: 2em 0;
	border-top-width: 4px;
	border-top-style: solid;
	border-bottom-width: 4px;
	border-bottom-style: solid;

	blockquote {
		border-left: none;
	}

	p,
	blockquote > .editor-rich-text p { // for editor
		font-size: $font-size-xl;
	}
}

/**
** rss
**/

/**
** separator
**/

.wp-block-separator {

	&:not(.is-style-wide):not(.is-style-dots) {
		width: 5em;
	}

	&.is-style-dots {
		height: 0; // cancel default hr
		background: none; // cancel default hr

		&::before {
			color: $color-text-main;
			font-size: $font-size-base;
			letter-spacing: 2em;
			content: "\00b7 \00b7 \00b7";
		}
	}
}

/**
** table
**/

// Not used

/**
** Alignments
*/

.alignwide {
	max-width: 100vw;
}

.alignwide:not(.wp-block-columns):not(p) {
	/* displays as alignfull on small screens */
	@include full-bleed;
}

.alignfull {
	position: relative !important;
	right: 50% !important;
	left: 50% !important;
	width: 100vw !important;
	max-width: 100vw !important;
	margin-right: -50vw !important;
	margin-left: -50vw !important;
}

/**
** Media queries
*/
@media (min-width: $breakpoint-1) and (max-width: $breakpoint-2) {

	.wp-block-columns {
		flex-wrap: nowrap;
	}
}

@media screen and (min-width: $breakpoint-3) {

	.alignwide {

		@include full-bleed-cancel;
	}
}

/**
 * stuff added from gutenberg for the 11ty port
 */



 .wp-block-columns {
    display: flex;
    flex-wrap: wrap
}

@media (min-width:782px) {
    .wp-block-columns {
        flex-wrap: nowrap
    }
}

.wp-block-column {
    flex: 1;
    margin-bottom: 1em;
    flex-basis: 100%;
    min-width: 0;
    word-break: break-word;
    overflow-wrap: break-word
}

@media (min-width:600px) {
    .wp-block-column {
        flex-basis: 50%;
        flex-grow: 0
    }
}

@media (min-width:600px) {
    .wp-block-column:nth-child(odd) {
        margin-right: 32px
    }

    .wp-block-column:not(:first-child), .wp-block-column:nth-child(2n) {
        margin-left: 32px
    }

    .wp-block-column:not(:last-child) {
        margin-right: 32px
    }
}

.wp-block-media-text {
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    grid-template-areas: "media-text-media media-text-content";
    grid-template-columns: 50% auto
}

.wp-block-media-text.has-media-on-the-right {
    grid-template-areas: "media-text-content media-text-media";
    grid-template-columns: auto 50%
}

.wp-block-media-text .wp-block-media-text__media {
    grid-area: media-text-media;
    margin: 0
}

.wp-block-media-text .wp-block-media-text__content {
    word-break: break-word;
    grid-area: media-text-content;
    padding: 0 8%
}

.wp-block-media-text > figure > img, .wp-block-media-text > figure > video {
    max-width: unset;
    width: 100%;
    vertical-align: middle
}

@media (max-width:600px) {
    .wp-block-media-text.is-stacked-on-mobile {
        grid-template-columns: 100% !important;
        grid-template-areas: "media-text-media" "media-text-content"
    }

    .wp-block-media-text.is-stacked-on-mobile.has-media-on-the-right {
        grid-template-areas: "media-text-content" "media-text-media"
    }
}

.wp-block-button.aligncenter {
    text-align: center
}

.wp-block-button.alignright {
    text-align: right
}