/* stylelint-disable-next-line no-duplicate-selectors */
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

* {
	border-color: $color-link;
}

/* stylelint-disable-next-line no-duplicate-selectors */
body {
	background: $color-bg-body; /* Fallback for when there is no custom background color defined. */
}

/* stylelint-disable-next-line no-duplicate-selectors */
hr {

	@include hr;
}

/* Lists */
ul, ol {

	@include list-margins;
}

ul {

	@include unordered-list-styles;
}

ol {

	@include ordered-list-styles;
}

/* stylelint-disable no-descending-specificity */
li > ul,
li > ol {

	@include nested-list-margins;
}
/* stylelint-enable no-descending-specificity */

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

/* stylelint-disable-next-line no-duplicate-selectors */
blockquote {

	@include blockquote;
}

cite {

	@include cite;
}

address {
	margin: 0 0 1.5em;
}

img,
svg {
	max-width: 100%; /* Adhere to container width. */
	height: auto; /* Make sure images are scaled correctly. */
}

figure {
	margin: 0 0 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

/* Tables */

table {
	width: 100%;
	margin: 0 0 1.5em;
	border-collapse: collapse;
}

th, td {
	padding: 0 6px;
	border: 1px solid #000;
}

/*--------------------------------------------------------------
## Forms
--------------------------------------------------------------*/
/* stylelint-disable-next-line no-duplicate-selectors */
textarea {
	width: 100%;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	max-width: 100%;
	padding: 3px;
	border: 1px solid $color-border;
	border-radius: 3px;
	color: $color-text-input;

	&:focus {
		color: $color-text-main;
	}
}

select {
	border: 1px solid $color-border;
}

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
/* stylelint-disable-next-line no-duplicate-selectors */
a {
	color: $color-link;
	text-decoration: none;

	&:visited {
		color: $color-link;
	}
	
	&:hover,
	&:focus,
	&:active {
		color: $color-link-hover;
		text-decoration: underline;
	}
	
	&:focus {
		outline: thin dotted;
	}
	
	&:hover,
	&:active {
		outline: 0;
	}
}

/* All of the buttons and button-like elements */

/* This can be used in the HTML templates or extended to produce more buttons */
.button-link__link {
	color: $color-button-text;
	background-color: $color-link;

	@include button;

	&:visited {
		color: $color-button-text;
	}
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	color: $color-button-text;
	background-color: $color-link;
	
	@include button;
}

form span.required {
	opacity: $opacity-aside;
	font-size: $font-size-xs;
}
