.site-header {
	background-color: $color-bg-body;
	
	@include max-site-width;
	@extend %smallscreen-padding;

	a {
		text-decoration: none;
	}
}

.global-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-flow: row wrap;

	.site-branding {
		flex: 1 1 0;
		margin-bottom: 0.5em;
	}

	.menu-button {
		flex: 0 0 auto;
	}

	.main-navigation {
		flex: 1 0 100%;
	}
}

.site-title {
	display: inline-block;
	margin: 0;
	font-family: $font-site-title;
	font-size: $font-size-xxl;
	line-height: calculate-line-height( $font-size-xxl, $breakpoint-1 );
	
	a[rel="home"] {
		color: $color-text-main;
	}
}

.site-description {
	margin: 0;
	opacity: $opacity-aside;
	font-size: $font-size-sm;
	font-style: italic;
}

/* Make sure logo link wraps around logo image. */
.wp-custom-logo .site-title {
	display: flex;
	flex-flow: row nowrap;
}

.custom-logo-link {
	display: block;
	margin: 0 12px 0 0;

	img {
		width: auto;
		max-height: $font-size-lg;
		vertical-align: middle;
	}
}

.home h1.entry-title {
    display: none; 
}

// /*
//  * Fixed Header
//  * See also: the scrolling code in functions.js
//  */
// @media screen {
//     .fixed-header {
//         position: fixed;
//         top: 0;
//         width: 100%;
//         height: auto;
//         z-index: 9;
//         display: block; // this fixes a weird bug
//         .site-description {
//             display: none;
// 		}
// 		.site-title {
// 			font-size: $font-size-xxl;
// 		}
//     }
//     .sticky-top {
//         margin-top: 60px;
// 	}
// }
// /* Offesets values from wp-includes/css/admin-bar.css */
// .admin-bar .fixed-header {
//     top: 32px; /* admin-bar.css:84 */
//     @media screen and ( max-width: 782px ) {
//         top: 46px; /* admin-bar.css:970 */
//     }
//     @media screen and (max-width: 600px) {
//         top: 0; /* admin-bar.css:1081 */
//     }
// }

/*
 * Header Media Queries
 */

// @media screen and (max-width: $breakpoint-1) {
//    .fixed-header .site-title {
// 		.custom-logo-link {
// 			margin: 0;
// 		}
//     }
// 	.wp-custom-logo .fixed-header .site-title a:last-of-type { // target the title text
// 		display: none;
// 	}
// }
// @media screen and (max-width: $breakpoint-2) and (orientation: landscape) {
//     /* When a small screen is oriented in landscape, hide the header unless the scrolling js overrides it */
//     .fixed-header:not(.header-visible) {
//         position: relative;
//     }
//     .sticky-top:not(.header-visible) {
//         margin-top: 0;
//     }
// }
@media screen and (min-width: $breakpoint-1) {

	.site-branding {
		text-align: left;
	}

	.global-header {
		margin: 1em 0 0 0;
		flex-flow: row nowrap;
		align-items: flex-start;
		justify-content: space-between;

		.main-navigation {
			flex: 0 1 auto;
		}
	}
	// .sticky-top {
	//     margin-top: 90px;
	// }

	.site-title {
		margin: 0;
		font-size: $font-size-xxl;
	}

	.site-header {
		text-align: left;
	}
}
// @media screen and (min-width: $breakpoint-2) {
//     .sticky-top {
//         margin-top: 110px;
// 	}
// }
