.main-navigation {
	display: block;
	clear: both;
	position: relative;
	text-align: center;

	a {
		display: inline-block;
		padding: 0.5em 0 0.5em 0;
	}

	// .current_page_item > a,
	// .current-menu-item > a,
	// .current_page_ancestor > a,
	// .current-menu-ancestor > a {

	// 	@include current-page;
	// }

	.menu-item {
		float: none;
		position: relative;

		.menu-item {
			padding: 0;
		}

		&:hover > a,
		&.focus > a {
			color: $color-link-hover;
		}
	}

	ul.menu,
	ul.sub-menu {
		margin: 0;
		padding: 0 1em;
		list-style: none;
	}
	
	.menu {
		display: none;
		position: relative;
		border-top-width: 2px;
		border-top-style: solid;

		:hover > a,
		.focus > a {
			color: $color-link-hover;
		}

		a:hover,
		a.focus {
			color: $color-link-hover;
		}
	}

	.sub-menu {
		display: block;
		float: left;
		position: absolute;
		z-index: 99999;
		top: 100%;
		left: -999em;
		width: 100%;
		border-width: 0;
		border-style: none;
		border-radius: 0.25em;
		background: $color-bg-body;
		box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.2);
		
		.sub-menu {
			left: -999em;
		}
	}

	.menu-item:hover > .sub-menu,
	.menu-item.focus > .sub-menu {
		right: 0;
		left: auto;
	}
}

.menu-item-has-children {

	> a::after {
		margin-left: 0.25em;
		font-size: $font-size-xs;
		content: $glyph-arrow-down;
	}
}

/*
 * Small menu.
 */
.menu-toggle {
	display: block;
	padding: 0.1em;
	border-style: none; // cancel _elements.scss
	color: $color-link;
	background: none; // cancel _elements.scss
	box-shadow: none; // cancel _elements.scss

	&:hover,
	&:focus,
	&:active {
        color: $color-link; // cancel _elements.scss
		background: none; // cancel _elements.scss
		transform: none; // cancel _elements.scss
	}
	
	.svg-icon {
		font-size: 40px;
		filter: none; // cancel _elements.scss
	}
}

.menu-button .menu-toggle,
.main-navigation.toggled .menu {
	display: block;
}

.menu-button {
	position: relative;
	margin: 0.25em 0 0.25em 0.25em;
	text-align: right;
	
	.dismiss-icon {
		display: none;
    }
}

.menu-button.toggled {

	.menu-icon {
		display: none;
	}

	.dismiss-icon {
		display: inline;
	}
}

// /*
//  * Workarounds for fixed header
//  * This stuff is all pretty hacky and I'm not sure how to make it more elegant.
//  */
 
// .main-navigation.toggled {
//     height: calc( 100vh - 6.4em ); // 128px = size of header. Estimation, not accurate!
// 	overflow: scroll;
// }
// .fixed-header .main-navigation.toggled {
// 	height: calc( 100vh - 3.65em ); // 73px = size of header. Estimation, not accurate!
// }
// /* Offesets values from wp-includes/css/admin-bar.css */
// @media screen and ( max-width: 782px ) { /* admin-bar.css:970 *//*
// 	.admin-bar {
// 		.main-navigation.toggled {
// 			height: calc( 100vh - 6.4em - 46px );
// 		}
// 		.fixed-header .main-navigation.toggled {
// 			height: calc( 100vh - 3.65em);
// 		}
// 	}
// }

/*
 * Media queries
 */
@media screen and (min-width: $breakpoint-1) {

	.menu-toggle {
		display: none;
	}

	.menu-button {
		display: none;
	}

	.main-navigation {
		line-height: 1.1; /* fixes vertical dropdown menu spacing */

		.menu {
			display: flex;
			justify-content: flex-end;
		}

		.menu-item {
			padding-left: 1.2em;

			&:first-child {
				padding-left: 0;
			}
		}

		.sub-menu {
			width: auto;
			margin-left: 0;
			padding: 0 1em;
			text-align: left;

			.sub-menu {
				top: 0;
				width: 100%;
			}

			.menu-item {
	
				&:hover > .sub-menu,
				&.focus > .sub-menu {
					left: 100%;
				}
			}
		}
	}
}
