.excerpt {
    margin-bottom: 1em;
}

@media screen and (min-width: 600px) {
    .excerpt {
        flex-basis: 47.5%;
        margin-bottom: 0;
    }

    .content {
        display: flex;
    }
}

.excerpt.isWide {
    flex-basis: 100%;
}

.text {
    flex: 0 1 100%;
    margin: 0;
}

.title {
    text-transform: none;
    margin-bottom: 0.5em;
}

.coverFigure {
    flex: 1 0 128px;
    margin-right: 8px;
    align-self: center;
    margin-bottom: 0;

    /* this is necessary for the `.coverLink` styles */
    position: relative;
}

.coverLink {
    /* fixes visual glitch with link overlay */
    line-height: 0;
}

.coverLink:hover::before,
.coverLink:active::before,
.coverLink:focus::before {
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.25;
    background-color: var(--color-link);
    content: "";
}

@supports (object-fit: cover) {
    .coverFigure {
        position: relative;

        /* aspect ratio kept intact for small screens */
        width: 128px;
        height: 96px;
    }

    .coverImg {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 600px) {
    .coverFigure {
        width: 100vw;
        height: 56.25vw; /* 16:9 */
    }

    .coverLink {
        display: block;
        width: 100%;
    }

    .coverImg {
        width: 100%;
    }
}
