
 
<article class="excerpt-entry post{% if page.data.thumbnail %} has-post-thumbnail{% endif %}">
	<header class="entry-header has-ui-font">
		<div class="tab-head">
            {% include "svg/tag.svg" %}
            {% if page.data.tags %}
			    {{ page.data.tags | join(", ") }}
            {% endif %}
		</div><!-- .tab-head -->
		<h2 class="entry-title has-body-font">
            <a href="{{ page.url }}" rel="bookmark" class="entry-title__link">
                {{ page.data.title }}
            </a>
        </h2>
	</header><!-- .entry-header -->
	
    {% if page.data.thumbnail %}
    <figure class="featured-image featured-image__archive full-bleed">
        <a href="{{ page.url }}" class="featured-image__link" aria-hidden="true" tabindex="-1">
            <img width="224" height="150" 
            src="{{ page.data.thumbnail }}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
            alt="{% if media[page.data.thumbnail] %}{{ media[page.data.thumbail].alt }} {% endif %}"/>
        </a>
    </figure> <!--.featured-image .featured-image__archive .full-bleed -->
    {% endif %}

	<div class="entry-content">
		{{ page.data.description }}
	</div><!-- .entry-content -->
	<footer class="entry-footer has-ui-font">
        <div class="entry-meta">
            {% import "partials/entry-meta.njk" as entryMeta %}
            {{ entryMeta.postedBy(page.data.author) }}
            {{ entryMeta.postedOn(page.date) }}
        </div><!-- .entry-meta -->
		<div class="continue-reading">
			<a href="{{ page.url }}" class="button-link__link button-open" rel="bookmark">
				Open <span class="screen-reader-text">{{ page.title }}</span>
				{% include "svg/chevron-right.svg" %}
			</a>
		</div>
	</footer>
</article>