{% import "partials/entry-meta.njk" as entryMeta %}
<article class="format-aside post{% if page.data.thumbnail %} has-post-thumbnail{% endif %}">
	<header class="entry-header has-ui-font">
		<!--<?php weracoba_author_avatar(); ?>-->
		<div class="entry-header-wrapper">
			{{ entryMeta.postedBy(page.data.author) }}
			<a href="{{ page.url }}" class="aside-permalink" rel="bookmark">
                {% include "svg/link.svg" %}
				permalink <span class="screen-reader-text">for {{ page.title }}</span>
			</a>
		</div><!-- .entry-meta-wrapper -->
	</header>
	<div class="entry-content">
		{{ page.templateContent | safe }}
	</div><!-- .entry-content -->
	<footer class="entry-footer has-ui-font">
		<div class="entry-meta">
            {{ entryMeta.postedOn(page.date) }}
            {{ entryMeta.tags(page.data.tags) }}
		</div><!-- .entry-meta -->
	</footer>
</article>
